* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OrgonRegular', sans-serif;
}
  
body, html {
    height: 100%;
    width: 100%;
}
  
.sidebar {
    height: 100%;
    width: 250px; /* Adjust width as necessary */
    position: fixed;
    background-color: #008559; /* Your nav background color */
    color: white;
    display: flex;
    flex-direction: column;
}
  
.logo-container {
    background-color: #D7EAD9; /* Different background color for the logo container */
    padding: 15%;
    text-align: center;
}
  
.logo-container img {
    max-width: 100%;
    height: auto;
}
  
.nav-menu-top  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top:10%;
}
  
.nav-menu-top a {
    text-decoration: none;
    color: white;
    display: flex; /* Changed from block to flex */
    align-items: center; /* Vertically center the content */
    padding: 10px;
    transition: background 0.3s, color 0.3s;
  }
  
  .navikon {
    margin-right: 5px; /* Adjust spacing to the right of the icon */
    width: 24px; /* Example size, adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
.nav-menu-top a:hover, .nav-menu-top a.active {
    background-color: rgb(215, 234, 217, 0.3); /* Darker green for active/hover state */
}

.nav-menu-bottom  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom:10%;
}
  
.nav-menu-bottom a {
    text-decoration: none;
    color: white;
    display: flex; /* Changed from block to flex */
    align-items: center; /* Vertically center the content */
    padding: 10px;
    transition: background 0.3s, color 0.3s;
}
  
  
.nav-menu-bottom a:hover, .nav-menu a.active {
    background-color: rgb(215, 234, 217, 0.5);
    ; /* Darker green for active/hover state */
}
  
.content {
    margin-left: 250px; /* Should match the width of the sidebar */
    padding: 20px;
    background-color: white;
    height: 100%;
}
  
/* Responsive styling */
@media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .content {
      margin-left: 0;
    }
  
    .nav-menu a {
      padding: 15px;
      font-size: 14px;
    }
}
  